# Folders
/mods
/crash-reports
/.mixin.out
/logs
/local
/journeymap
/downloads
/resourcepacks
/saves
/screenshots
/config/jei/world

# Files
.curseclient
minecraftinstance.json
realms_perscistence.json