# Folders
/mods
/crash-reports
/.mixin.out
/logs
/local
/journeymap
/downloads
/resourcepacks
/saves
/config/jei/world/local
/screenshots

# Files
.curseclient
minecraftinstance.json
realms_perscistence.json